<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Transactions</h1>

        <a th:href="@{/transaction/export/pdf}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate PDF</a>
    </div>

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Adding a transaction</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <form th:method="POST" th:action="@{/transaction}">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Transaction name</label>
                                <input name="name" type="text" class="form-control" id="name"
                                       placeholder="Transaction name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="amount">Amount</label>
                                <input type="number" class="form-control" id="amount" name="amount" step="any" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select id="category" class="form-control" name="category">
                                <option th:each="category : ${categories}" th:value="${category.id}"
                                        th:text="${category.name}"></option>
                            </select>
                        </div>
                        <div class="form-group form-check">
                            <input name="isAccounting" type="checkbox" class="form-check-input" id="accounting" checked>
                            <label class="form-check-label" for="accounting">Is Accounting</label>
                            <p><i style="font-size: small">The "Is Accounting" parameter indicates whether the account should be included in the statistics.</i></p>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea name="description" class="form-control" id="description" rows="3"
                                      placeholder="Description"></textarea>
                        </div>
                        <!-- Add other fields as needed -->
                        <button type="submit" class="btn btn-primary">Add Transaction</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-12 col-lg-7">
            <!-- Table -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Transactions</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div th:replace="transaction/list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->