<table class="table table-bordered" id="dataTable">
    <thead>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Category name</th>
        <th>Type</th>
        <th>Is Accounting</th>
        <th>Date</th>
        <th>Settings</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transactions}">
        <td th:text="${transaction.id}"></td>
        <td th:text="${transaction.name}"></td>
        <td th:text="${transaction.formatAmount(transaction.amount)}"></td>
        <td th:text="${transaction.category.name}"></td>
        <td th:text="${transaction.category.type}"></td>
        <td th:text="${transaction.isAccounting}"></td>
        <td th:text="${transaction.formatCreatedAt(transaction.createdAt)}"></td>
        <td>
            <a th:href="@{/transaction/{id}(id=${transaction.id})}"
               class="btn btn-primary">View</a>
            <a th:href="@{/transaction/{id}/edit(id=${transaction.id})}"
               class="btn btn-secondary">Edit</a>
            <form th:action="@{/transaction/{id}(id=${transaction.id})}" th:method="DELETE">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>